.mt-3 {
    margin-top: 1rem !important;
}

.user-post img.profile-img {
    border-radius: 100%;
    height: 25rem;
    width: 25rem;
}

@media (max-width: 575.98px) {
    ul.header-nav li {
        height: 2.188rem;
        width: 2.188rem;
        line-height: 2.188rem;
        margin: 0 0.625rem 0 0;
        font-size: 1rem;
    }
    .iq-friendlist-block .d-flex {
        display: block !important;
        text-align: center;
        margin: 0.625rem;
    }
    .post-item img.profile-img {
        height: 18.75rem;
        width: 18.75rem;
    }
    .user-post img.profile-img {
        height: 18.75rem;
        width: 18.75rem;
    }
}

.d-grid {
    display: grid !important;
}

.d-grid-template-1fr-15 {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.d-grid {
    display: grid;
}

.d-grid-template-1fr-13 {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
}
.d-grid-template-1fr-15 {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.d-grid-template-1fr-19 {
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}
.d-grid-template-1fr-21 {
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
}

.grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-flow-col {
    grid-auto-flow: column;
}

.gap-3 {
    gap: 1rem !important;
}

@media (max-width: 767.98px) {
    .gap-3 {
        gap: 0.5rem !important;
    }
}

.row-span-1 {
    grid-row: span 1 / span 1;
}

.row-span-2 {
    grid-row: span 2 / span 2;
}

.img-fluid {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.iq-fslightbox-img a img.img-fluid {
    min-width: 5em;
    max-width: 30em;
    width: 100%;
    height: 100%;
}

.dark img.img-fluid.iq-error-img {
    filter: invert(100);
}

.rounded {
    border-radius: var(--bs-border-radius) !important;
}

.w-100 {
    width: 100% !important;
}
.ratio {
    position: relative;
    width: 100%;
}
.ratio::before {
    display: block;
    padding-top: var(--bs-aspect-ratio);
    content: "";
}
.ratio > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ratio-1x1 {
    --bs-aspect-ratio: 100%;
}
.ratio-4x3 {
    --bs-aspect-ratio: 75%;
}
.ratio-16x9 {
    --bs-aspect-ratio: 56.25%;
}
.ratio-21x9 {
    --bs-aspect-ratio: 42.8571428571%;
}
.ratio {
    position: relative;
    width: 100%;
}
.ratio::before {
    display: block;
    padding-top: 50%;
    content: "";
}
.ratio > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ratio-16x9 {
    --bs-aspect-ratio: 56.25%;
}