<ng-container>
    <div class="mt-3" *ngIf="postData.comment">
        <p>{{postData.comment}}</p>
    </div>
    <div class="user-post">
        <ng-container *ngIf="postData.imgLocations">
            <ng-container [ngSwitch]="postData.imgLocations.length">
                <a href="javascript:void(0);" *ngSwitchCase="1">
                    <img [src]="postData.imgLocations[0]" alt="post-image" class="img-fluid rounded w-100" loading="lazy">
                </a>
                <div class=" d-grid grid-flow-col gap-3" *ngSwitchCase="2">
                    <div class="row-span-1">
                        <img [src]="postData.imgLocations[0]" alt="post-image" class="img-fluid rounded w-100" loading="lazy">
                    </div>
                    <div class="row-span-1 ">
                        <img [src]="postData.imgLocations[1]" alt="post-image" class="img-fluid rounded w-100" loading="lazy">
                    </div>
                </div>
                <div class=" d-grid grid-rows-2 grid-flow-col gap-3"*ngSwitchCase="3">
                    <div class="row-span-2 row-span-md-1">
                        <img [src]="postData.imgLocations[0]" alt="post-image" class="img-fluid rounded w-100" loading="lazy">
                    </div>
                    <div class="row-span-1">
                        <img [src]="postData.imgLocations[1]" alt="post-image" class="img-fluid rounded w-100" loading="lazy">
                    </div>
                    <div class="row-span-1 ">
                        <img [src]="postData.imgLocations[2]" alt="post-image" class="img-fluid rounded w-100" loading="lazy">
                    </div>
                </div>
                <div class=" d-grid grid-rows-2 grid-flow-col gap-3" *ngSwitchCase="4">
                    <div class="row-span-1">
                        <img [src]="postData.imgLocations[0]" alt="post-image" class="img-fluid rounded w-100" loading="lazy">
                    </div>
                    <div class="row-span-1">
                        <img [src]="postData.imgLocations[1]" alt="post-image" class="img-fluid rounded w-100" loading="lazy">
                    </div>
                    <div class="row-span-1 ">
                        <img [src]="postData.imgLocations[2]" alt="post-image" class="img-fluid rounded w-100" loading="lazy">
                    </div>
                    <div class="row-span-1 ">
                        <img [src]="postData.imgLocations[3]" alt="post-image" class="img-fluid rounded w-100" loading="lazy">
                    </div>
                </div>
                <div class=" d-grid grid-rows-2 grid-flow-col gap-3" *ngSwitchCase="5">
                    <div class="row-span-2 row-span-md-1">
                        <img [src]="postData.imgLocations[0]" alt="post-image" class="img-fluid rounded w-100" loading="lazy">
                    </div>
                    <div class="row-span-1">
                        <img [src]="postData.imgLocations[1]" alt="post-image" class="img-fluid rounded w-100" loading="lazy">
                    </div>
                    <div class="row-span-1">
                        <img [src]="postData.imgLocations[2]" alt="post-image" class="img-fluid rounded w-100" loading="lazy">
                    </div>
                    <div class="row-span-1 ">
                        <img [src]="postData.imgLocations[3]" alt="post-image" class="img-fluid rounded w-100" loading="lazy">
                    </div>
                    <div class="row-span-1 ">
                        <img [src]="postData.imgLocations[4]" alt="post-image" class="img-fluid rounded w-100" loading="lazy">
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <div class="ratio ratio-16x9" *ngIf="postData.videoLocation">
            <iframe  src="https://www.youtube.com/embed/j_GsIanLxZk?rel=0" allowfullscreen></iframe>
         </div>
    </div>
</ng-container>